.container {
  display: flex;
  gap: 1rem;
}

.left-column {
  width: 120px;
  max-width: 25vw;
  flex-shrink: 0;
}

.center-column {
  /* noop */
}

.right-column {
  /* noop */
}


.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.titleLink {
  color: mediumblue;
  text-decoration: none;
}

.titleLink:hover {
  text-decoration: underline;
}

.detail-meta-desktop {
  color: #666666;
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .detail-meta-desktop {
    display: none;
  }
}

.detail-meta-mobile {
  color: #666666;
  font-size: 0.8rem;
}

@media (min-width: 900px) {
  .detail-meta-mobile {
    display: none;
  }
}
